*{
    box-sizing: border-box;
}

.cards{
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1300px;
}

.card--1 .card__img--hover{
    background-image: url(../actividades/act1.jpg);
}

.card--2 .card__img--hover{
    background-image: url(../actividades/act2.jpg);
}

.card--3 .card__img--hover{
    background-image: url(../actividades/act3.jpg);
}

.card--4 .card__img--hover{
    background-image: url(../actividades/act4.jpg);
}

.card--5 .card__img--hover{
    background-image: url(../actividades/act5.jpg);
}

.card--6 .card__img--hover{
    background-image: url(../actividades/act6.jpg);
}

.card--7 .card__img--hover{
    background-image: url(../actividades/act7.jpg);
}

.card--8 .card__img--hover{
    background-image: url(../actividades/act8.jpg);
}

.card__time{
    font-size: 12px;
    color: #313131;
    margin-left: 5px;
}

.card__clock-info{
    float: right;
}

.card__img{
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card__info-hover{
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
}

.card__img--hover{
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
}


.card{
    margin-right: 25px;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 33.3%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0,0,0,0.1);
}

.card:hover{
    box-shadow: 0px 30px 18px -8px rgba(0,0,0,0.1); 
    transform: scale(1.10, 1.10);
}

.card__info{
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
}

.card__category{
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
}

.card__title{
    margin-top: 5px;
    margin-bottom: 10px;
}


.card__by{
    font-size: 12px;
    font-weight: 500;
}

.card__author{
    font-weight: 600;
    text-decoration: none;
    color: #ad7d52;
}


.card:hover .card__img--hover{
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info{
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover{
    opacity: 1;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

footer{
    width: 100%;
    padding: 50px 0px;
    font-family: 'Nunito', sans-serif;
    *background-color: var(--color-esqueleto);
    background-image: url("../Images/background-footer.svg");
    background-size: cover;

    /*webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;

}

.box__footer h2{
    margin-bottom: 30px;
    color: #242424;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}






















































